<h4>
  <%=content_tag :span, "Time Frame: #{session[:context_overrides][:time_frame].capitalize}", class: "label label-info", id: "time-label" %>

</h4>
<h4>
  <% location_name = current_user.get_locations.find_by(id: session[:context_overrides][:location]) %>
  <%= content_tag :span, "Location: #{(location_name || "Automatic").capitalize}", class: "label label-info", id: "location-label", data: { :"update-url" => update_location_user_url(current_user).html_safe } %>
</h4>

<h5 class="text-info">Change Context</h5>