<!-- Primary Author: Jonathan Allen (jallen01) -->

<%= render "layouts/list_messages" %>

<!-- Tasks list -->
<div class="list-group">
  <% current_user.get_tasks.each do |task| %>
    <%= link_to "#edit-task-#{task.id}-modal", class: "list-group-item", data: { toggle: "modal", trigger: "hover", content: task.content, placement: "right", relevant: task.relevant?(@context), important: !!task.important, quick: !!task.quick } do %>
      <%= task.title %>
      <div class="pull-right">
        <% if !!task.quick %>
          <span class="label label-success">Quick</span>
        <% end %>
        <% if !!task.important %>
          <span class="label label-warning">Important</span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Edit task modals -->
<% current_user.get_tasks.each do |task| %>
  <%= render "layouts/modal_form", object: task, modal_id: "edit-task-#{task.id}-modal", modal_title: "Edit Task", modal_data: { form: "reset" }, modal_content: render("tasks/form", task: task) %>
<% end %>
