<!-- Tasks list -->
	<table class="table table-bordered table-hover group-list">
		<tbody>
  <% current_user.tasks.each do |task| %>

  	<tr>
  		<td>
		    <%= link_to task.title, "#edit-task-#{task.id}-modal", data: { toggle: "modal", trigger: "hover", content: task.content, placement: 'right', relevant: task.relevant?(@user_context), important: !!task.important, quick: !!task.long_lasting }, class: "list-group-items"%>
		
	    	
	    	<%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, task, method: :delete, remote: true, data: { dismiss: "alert" }, "aria-hidden" => "true", class: "close" %>

	    </td>
	    </tr>
  <% end %>
</tbody>
</table>

<!-- Edit task modals -->
<% current_user.get_tasks.each do |task| %>
  <%= render "layouts/modal_form", object: task, modal_id: "edit-task-#{task.id}-modal", modal_title: "Edit Task", modal_data: { form: "reset" }, modal_content: render("tasks/form", task: task) %>
<% end %>
