<!-- Tasks list -->

<div class="list-group-item" id="task<%= task.id %>">
<%= link_to task.title, "#edit-task-#{task.id}-modal", data: { toggle: "modal", trigger: 'hover', content: task.content, placement: 'right', title: task.title }, class: "task", style: "color: #555555", rel: 'popover' %></td>

</div>

<!-- Edit task modals -->
<% current_user.get_tasks.each do |task| %>
  <%= render "layouts/modal_form", object: task, modal_id: "edit-task-#{task.id}-modal", modal_title: "Edit Task", modal_data: { form: "reset" }, modal_content: render("tasks/form", task: task) %>
<% end %>
