<table class="table table-striped table-bordered">
  <tbody>
      <tr><td>Placeholder Task 1</td></tr>
      <tr><td>Placeholder Task 2</td></tr>
    <% tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task_path(task) %></td>
      </tr>
      <%= render "layouts/modal_form", modal_id: "edit-task-modal", modal_title: "Edit Task", modal_data: {form: "temporary"}, modal_content: "tasks/edit_form" %>
    <% end %>
  </tbody>

</table>