<table class="table table-striped table-bordered">
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task_path(task) %></td>
        <td> <%= link_to 'Remove', task, method: :delete, remote: true, class: "btn btn-small btn-primary" %> </td>
      </tr>
      <%= render "layouts/modal_form", modal_id: "edit-task-modal_"+task.id.to_s, modal_title: "Edit Task", modal_data: {form: "temporary"}, modal_content: "tasks/form" %>
    <% end %>
  </tbody>
</table>