<% provide(:title, "Tasks") %>

<h1><%= current_user.first_name %>'s Fireplace</h1><br>

<div>
	Current location: <%= "current_user.get_current_location" %>
</div><br>

<div>
	<!-- <span> Is this correct? </span><br> -->
	<span>
		<select class="form-control">
			<option>Select</option>
			<% current_user.locations do |loc| %>
				<option value="%{loc.id}">loc.name</option>
			<% end %>
		</select>
	</span>
	<span>
		<select class="form-control">
			<option value="now">Now</option>
			<option value="today">Today</option>
			<option value="tomorrow">Tomorrow</option>
			<option value="this_week">This Week</option>
      		<option value="all_time">All Time</option>
		</select>
	</span><br><br>
	<div>
		Show:
		<span>
			<label class="checkbox-inline">
				<input type="checkbox" id="importantCheckbox"> Important Tasks
			</label>
		</span>
		<span>
			<label class="checkbox-inline">
				<input type="checkbox" id="longtermCheckbox"> Long Term Tasks
			</label>
		</span>
	</div><br>
</div>

<div class="task-list">
  <%= render partial: "task_list", locals: {tasks: @tasks} %>
</div>

<div>
	<div>
		<button type="button" class="btn btn-primary" id="create_task_btn">Create a task</button>
		<button type="button" class="btn btn-primary" id="customizations_btn">Customizations</button>
	</div>
</div>

<%= render "layouts/modal_form", modal_id: "new-task-modal", modal_title: "New Task", modal_data: { form: "temporary" }, modal_content: "tasks/new_form" %>
