<% provide(:title, "Tasks") %>
<h1>Listing users</h1>

<div class="task-list">
  <%= render partial: "task_list", locals: {tasks: @tasks} %>
</div>

<br>

<%= render "layouts/modal_form", modal_id: "new-task-modal", modal_title: "New Task", modal_data: { form: "temporary" }, modal_content: "tasks/new_form" %>

<%= render "layouts/modal_form", modal_id: "edit-task-model", modal_title: "Edit Tast", modal_data: {form: "temporary"},
  modal_content: "tasks/edit_form" %>