<div class="row">
  <div class="col-md-4 page-header">
    <h1><%= current_user.first_name %>'s Fireplace</h1>
    <div data-toggle="modal" data-target="#user-context-modal" id="user-context">
      <h4><span class="label label-info">6:55PM | November 19th, 2013</span></h4>
      <h4><span class="label label-info">Cambridge, MA</span></h4>
      <h5 class="text-info">Change Context</h5>
    </div>
  </div>
</div>

<!-- Filter policies -->
<div class="btn-toolbar">
  <!-- Toggle buttons -->
  <div class="btn-group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-task-modal">New Task</button>
  </div>

  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default">
      <input type="checkbox" data-filter="relevant" class="filter-policy-toggle">All Tasks
    </label>
    <label class="btn btn-default">
      <input type="checkbox" data-filter="quick" class="filter-policy-toggle">Only Quick Tasks
    </label>
    <label class="btn btn-default">
      <input type="checkbox" data-filter="important" class="filter-policy-toggle">Only Important Tasks
    </label>
  </div>
</div>

<hr>

<div id="tasks-list">
  <%= render partial: "tasks/list" %>
</div>

<!-- New task modal -->
<%= render "layouts/modal_form", object: @new_task, modal_id: "new-task-modal", modal_title: "New Task", modal_data: { form: "temporary" }, modal_content: render("tasks/form", task: @new_task) %>

<!-- Filter policies modal -->
<%= render "layouts/modal_display", modal_id: "user-context-modal", modal_title: "User Context", modal_content: render("users/context_form") %>