<!-- Primary Author: Jonathan Allen (jallen01) -->

<!-- Tags list -->
<div class="list-group">
  <% current_user.get_tags.each do |tag| %>
    <%= link_to tag.name, "#edit-tag-#{tag.id}-modal", class: "list-group-item", data: { toggle: "modal" } %>
  <% end %>
</div>

<!-- Edit tag modals -->
<% current_user.get_tags.each do |tag| %>
  <%= render "layouts/modal_form", object: tag, modal_id: "edit-tag-#{tag.id}-modal", modal_title: "Edit Tag",  modal_data: { form: "reset" }, modal_content: render("tags/form", tag: tag) %>
<% end %>