<table class="table table-striped table-bordered">
  <tbody>
	<% tags.each do |tag| %>
	  <tr>
		<td>
	      <%= tag.name %>
		</td>
	  </tr>
	  <%= render "layouts/modal_form", modal_id: "edit-tag-modal", modal_title: "Edit Tag", modal_data: {form: "temporary"}, modal_content: "tags/edit_form" %>
	<%end%>
  </tbody>
</table>