body {
  padding-top: 70px;
}

.hide {
	display: none;
}

.center-block {
	text-align: center;
	display: block-inline;
}

// Buttons

.btn-buffer { 
	margin-top: 10px; 
	margin-bottom: 10px;
}

// Link objects
[data-target]:not([Data-Attribute=""]) {
	cursor: pointer;
}