@import 'twitter/bootstrap';

body {
  padding-top: 70px;
}

.center-block {
	display: inline-block;
	text-align: center;
}

.time-tick {
	position: absolute;
	text-align: center;
	width: 100%;
	color: black;
}

// Buttons

.btn-buffer { 
	margin-top: 10px; 
	margin-bottom: 10px;
}

// Modals

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}