@import 'twitter/bootstrap';

body {
  padding-top: 50px;
}

.btn-buffer { 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.display-block {
	display: inline-block;
	text-align: center;
}

.time-tick {
	position: absolute;
	text-align: center;
	width: 100%;
	color: black;
}

.btn.active {
	@extend .btn-info;
}

.modal .modal-body {
	width: 600px;
    max-height: 420px;
    overflow-y: auto;
}