<!-- Time ranges list -->
<div class="list-group">
  <% current_user.get_time_ranges.each do |time_range| %>
    <%= link_to time_range.name, "#edit-time-range-#{time_range.id}-modal", data: { toggle: "modal" }, class: "list-group-item" %>
  <% end %>
</div>

<!-- Edit time range modals -->
<% current_user.get_time_ranges.each do |time_range| %>
  <%= render "layouts/modal_form", object: time_range, modal_id: "edit-time-range-#{time_range.id}-modal", modal_title: "Edit Task",  modal_data: { form: "reset" }, modal_content: render("time_ranges/form", time_range: time_range) %>
<% end %>
