<!-- Time ranges list -->
<div class="list-group">
  <% current_user.get_time_ranges.each do |time_range| %>
  <%= link_to time_range.name, "#edit-time-range-#{time_range.id}-modal", data: { toggle: "modal" }, class: "list-group-item" %>
<% end %>
</div>
