<!-- Primary Author: Michelle Johnson (mchlljy) -->

<%= form_for location, remote: true, html: { class: "modal-form" } do |f| %>
  
  <%= render "layouts/form_errors", errors: location.errors %>
  
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
<% end %>

