<% provide(:title, "Locations") %>


<div class="row">
  <div id="locationsHeaderRow" class="span12">
    <h1><%= current_user.first_name %>'s Locations</h1><br>
  </div>
</div>
	
<div class="row">

  <div id="locationsPane" class="span4 offset4">
	<div class="location-list">
	  <%= render partial: "location_list", locals: {locations: @locations} %>
	</div>

	<button type="button" class="btn btn-primary" id="create_location_btn">New Location</button>
  </div>

</div>

<%= render "layouts/modal_form", modal_id: "new-location-modal", modal_title: "New Location", modal_data: { form: "temporary" }, modal_content: "locations/new_form" %>