<%= render "layouts/list_messages" %>

<div class="list-group">
  <% current_user.get_locations.each do |location| %>
    <!-- Open location link -->
    <%= link_to location.name, "#edit-location-#{location.id}-modal", data: { toggle: "modal" }, class: "list-group-item" %>
  <% end %>
</div>

<% current_user.get_locations.each do |location| %>
  <%= render "layouts/modal_form", object: location, modal_id: "edit-location-#{location.id}-modal", modal_data: { form: "reset" }, modal_title: "Edit Location", modal_content: render("locations/form", location: location) %>
<% end %>