<!-- Primary Author: Michelle Johnson (mchlljy) -->
<div class="well" id="location<%= location.id %>">

	<strong><%= location.name %></strong>
	<p><%= Geocoder.search("#{location.latitude}, #{location.longitude}")[0].address(format = :full) %></p>

	<% if !current %>
   	<%= link_to "Edit", edit_location_path(:id => location.id), :class => "btn btn-primary", :remote => true, "data-toggle" => "modal", "data-target" => "#my-modal" %>
   	<% end %>
</div>