<!-- Primary Author: Michelle Johnson (mchlljy) -->

<h2>Saved Locations</h2>


        
<div> 
		<h3>Your Current Location</h3>

        <% @curr_location.each do |location| %>
        <div id="cur-location">
        	<%= render :partial => 'location', :locals => { :location => location, :current => true} %>
        </div>
        <% end %>
        <br>
        <h3>Your Saved Locations</h3>
        <div id="locations">
        <% @locations.each do |location| %>
				<%= render :partial => 'location', :locals => { :location => location, :current => false } %>	
        <% end %>
        </div>

        <%= link_to "Add Location", new_location_path, :class => "btn btn-primary", :remote => true, "data-toggle" => "modal", "data-target" => "#my-modal" %>

        <div class="modal hide fade" id="my-modal" title="My modal">
		  <div class="modal-header">
		    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
		    <h3 id="myModalLabel">Add a new location</h3>
		  </div>
		  <div class="modal-body a-unique-class">

		  </div>
		  <div class="modal-footer">
		    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
		  </div>
		</div>

</div>
