<!-- Primary Author: Jonathan Allen -->
<!-- List form errors -->
<!-- Partial parameters: errors -->

<% if errors.any? %>
  <div class="validation-errors">
    <% errors.full_messages.each do |msg| %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>