<div id="list_flash">
  <% if flash[:list].is_a?(String) %>
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, flash[:list], :id => "flash_list" %>
    </div>
  <% end %>
</div>